<div class="container">
    <div class="text-center">
        <img src="/img/Wurk-Home/Wurk-Home-1.png" />
        <img src="/img/Wurk-Home/Wurk-Home-2.png" />
        <img src="/img/Wurk-Home/Wurk-Home-3.png" />
        <img src="/img/Wurk-Home/Wurk-Home-4.png" />
    </div>
</div>